{# empty Twig template #}
{% include 'AdministradorBundle:Default:adminHeader.html.twig' %}
<br><br><br><br>

 <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="home.html">Inicio</a></li>
                    
                    <li class="active"><a href="{{url('sitio')}}">Sitios turísticos</a></li>
                    <li><a href="{{url('rutasugerida')}}">Rutas</a></li>
                    
                    <li><a href="contactenos.html">Salir</a></li>                    
                </ul>
            </div>

        </div>
    </header><!--/header-->
{% include 'AdministradorBundle:Default:adminFooter.html.twig' %}