<!DOCTYPE html>
<html>

  <head>
    <title>Test</title>   
    <meta charset="utf-8">  
  </head>

  <body>

    {% for sitio in sitios %}          
      <p>{{ sitio.nombre }}</p>      
    {% endfor %}
    
  </body>
</html>